{% extends "applicationMarvel/base.html" %}
{% block content %}
     <script>
      $(function() {
        $("#id_title").autocomplete({
          source: function(request, response) {
            $.ajax({
              url: "http://importmarvel.com/api/comics",
              dataType: "jsonp",
              data: {
                    title: request.term,
                    apikey: "24b0e32a3da40ba84c92423b8429c8a6a94bf7dd"
                },
              success: function(data) {
                response($.map(data, function(item) {
                  return {
                    label: item
                  }
                }));
              }
            });
          }
        });
      });
    </script>
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit"/>
    </form>
{% endblock %}