{% extends "applicationMarvel/base.html" %}
{% block content %}

    <script>
      $(function() {
        $("#id_title").autocomplete({
          source: function(request, response) {
            $.ajax({
              url: "http://gateway.marvel.com/v1/public/comics",
              dataType: "json",
              data: {
                    titleStartsWith: request.term,
                    limit: 10,
                    apikey: "ca67da161cde0a90b313c90c32d6cd68",
                    hash: "f9a822dd4ef44f790fcc4ad6b416f317",
                    ts: "1"
                },
              success: function(data) {
                response($.map(data.data.results, function(item) {
                  return {
                    label: item.title
                  }
                }));
              }
            });
          }
        });
      });
    </script>
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit"/>
    </form>

{% endblock %}