{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Marvel DB{% endblock %}</title>
</head>
<body style="background-image: url('/media/applicationMarvel/MarvelBackgroud.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right; ">
<div id="header">
    {% block header %}
        {% if user.username %}<p>User {{ user.username }} <a href="/logout/">Sign out</a></p>
        {% else %}<p><a href="/login/">Sign in</a></p>{% endif %}
    {% endblock %}
</div>
<div id="sidebar">
    {% block sidebar %}<ul><li><a href="/applicationMarvel">Home</a></li></ul>{% endblock %}
</div>
<div id="content">
    {% block content %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% endblock %}
</div>
<div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>