{% extends "applicationMarvel/base.html" %}
{% block content %}
    <h1>
        Character: {{ character.name }}
        {% if user == character.user %}
            (<a href="{% url 'applicationMarvel:character_edit' character.id %}">editar</a>)
        {% endif %}
    </h1>
    <h2>Details:</h2>
    <p>
        <b>Description:</b> {{ character.description }}<br/>
        <b>Creator:</b> <a href="{% url 'applicationMarvel:creator_detail' character.creator.id %}">{{ character.creator }}</a> <br/>
        <b>Story:</b> <a href="{% url 'applicationMarvel:story_detail' character.stories.id %}">{{ character.stories }}</a> <br/>
        <b>Comic:</b> <a href="{% url 'applicationMarvel:comic_detail' character.comics.id %}">{{ character.comics }}</a>
    </p>

    {% if character.thumbnail %}
        <p><img src="{{ character.thumbnail.url }}" width="200" /></p>
    {% endif %}

    <h2>
        Events
    </h2>
    <ul>
        {% for event in character.event_set.all %}
            <li><a href="{% url 'applicationMarvel:event_detail' event.id %}">
                {{ event.title }}</a></li>
        {% empty %}<li>Sorry, no events for this character yet.</li>
        {% endfor %}
    </ul>
{% endblock %}