{% extends "applicationMarvel/base.html" %}
    <style>
    content{width:600px}
   </style>
{% block content %}
    <h1>
        Comic: {{ comic.title }}
        {% if user == comic.user %}
            (<a href="{% url 'applicationMarvel:comic_edit' comic.id %}">editar</a>)
            <form method="POST" action="{% url "applicationMarvel:comic_delete" comic.id %}">
   {% csrf_token %}<input type="submit" value="Borrar">
        {% endif %}
    </h1>
    <h2>Details:</h2>
    <p>
        <b>Description:</b>
                <span vocab="http://schema.org/" typeof="book"> <span property ="about"> {{ comic.description }}<br/><br/>
                </span>
        <b>ISBN:</b>
                <span property ="isbn">{{ comic.isbn }}<br/> </span>
        <b>Pages:</b>
                <span property ="numberOfPages">{{ comic.pageCount }}<br/> </span>
                <span vocab="http://schema.org/" typeof="offer">
        <b>Price:</b>
                    <span property ="price">{{ comic.price }}€<br/> </span>
                    </span>
        <b>Creator:</b> <a href="{% url 'applicationMarvel:creator_detail' comic.creator.id %}">{{ comic.creator }}</a> <br/>
                    <span property ="creator">{{ comic.creator }} </span>
                    </span>
        <b>Story:</b> <a href="{% url 'applicationMarvel:story_detail' comic.stories.id  %}">{{ comic.stories }}</a>
    </p>
    {% if comic.thumbnail %}
        <span rel="image">
        <span vocab="http://schema.org/" typeof ="ImageObject"> <span property ="thumbnail">{{comic.thumbnail.url}}
        <p><img src="{{ comic.thumbnail.url }}" width="200" /></p> </span></span></span>
    {% endif %}
    <h2>
        Characters
    </h2>
    <ul>
        {% for character in comic.character_set.all %}
            <li><a href="{% url 'applicationMarvel:character_detail' character.id %}">
                {{ character.name }}</a></li>
        {% empty %}<li>Sorry, no characters for this character yet.</li>
        {% endfor %}
    </ul>

    <h2>
        Events
    </h2>
    <ul>
        {% for event in comic.event_set.all %}
            <li><a href="{% url 'applicationMarvel:event_detail' event.id %}">
                {{ event.title }}</a></li>
        {% empty %}<li>Sorry, no events for this comic yet.</li>
        {% endfor %}
    </ul>

{% endblock %}
{% block footer %}
    Created by {{ comic.user }}
{% endblock %}
