{% extends "applicationMarvel/base.html" %}
{% block content %}
    <h1>
        Comic: {{ comic.title }}
        {% if user == comic.user %}
            (<a href="{% url 'applicationMarvel:comic_edit' comic.id %}">editar</a>)
        {% endif %}
    </h1>
    <h2>Details:</h2>
    <p>
        <b>Description:</b> {{ comic.description }}<br/>
        <b>ISBN:</b> {{ comic.isbn }}<br/>
        <b>Creator:</b> <a href="{% url 'applicationMarvel:creator_detail' comic.creator.id %}">{{ comic.creator }}</a> <br/>
        <b>Story:</b> <a href="{% url 'applicationMarvel:story_detail' comic.stories.id  %}">{{ comic.stories }}</a>
    </p>

    {% if comic.thumbnail %}
        <p><img src="{{ comic.thumbnail.url }}" width="200" /></p>
    {% endif %}

    <h2>
        Characters
    </h2>
    <ul>
        {% for character in comic.character_set.all %}
            <li><a href="{% url 'applicationMarvel:character_detail' character.id %}">
                {{ character.name }}</a></li>
        {% empty %}<li>Sorry, no characters for this character yet.</li>
        {% endfor %}
    </ul>

    <h2>
        Events
    </h2>
    <ul>
        {% for event in comic.event_set.all %}
            <li><a href="{% url 'applicationMarvel:event_detail' event.id %}">
                {{ event.title }}</a></li>
        {% empty %}<li>Sorry, no events for this comic yet.</li>
        {% endfor %}
    </ul>
{% endblock %}
{% block footer %}
    Created by {{ character.user }}
{% endblock %}